Assets/CampusExplorer/External/ModernLuxuryVilla/Modern_Residence_Interior.fbx filter=lfs diff=lfs merge=lfs -text
Assets/CampusExplorer/External/ModernLuxuryVilla/Textures/horn-koppe_spring_8k.exr filter=lfs diff=lfs merge=lfs -text
